html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.jsonforms-container {
  height: calc(100vh - 550px);
  min-height: 300px;
  overflow-y: auto;
}

.jsonforms-errors {
  color: red;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: #f9f9f9;
}

.App {
  text-align: center;
  margin-bottom: 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #122147;
  padding: 10px;
  color: white;
}

.App-header .title {
  font-size: 1.25em;
}

.App-footer {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.App-language {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.App-debug-pre {
  height: calc(100vh - 400px);
  overflow-y: auto;
  background-color: #f0efee;
}

.Branding-logo {
  width: 100px; /* Ajuste la taille du logo selon tes besoins */
  height: auto;
}

.App-version {
  margin-top: -10px; /* Espace entre le logo et la version */
  text-align: center;
  font-size: 14px; /* Taille de la version */
  color: #6c757d; /* Couleur de la version */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
